.markdowm{
  width: 100%;
  height: 100%;
  position: absolute;
}
.tools{
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #999;
  position: fixed;
  top: 0;
  z-index: 99;
  
  h1{
    font-size: 18px;
  }
}
.md-content{
  width: 100%;
  height: 100%;
  padding-top: 48px;
}
.code-editor{
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 4px 12px;
}

.dividing{
  display: inline-block;
  width: 2px;
  background: #EFF3F6;
}

.preview{
  flex: 1;
  padding: 4px 16px;
}

.markdowm{

  .md-content{
    display: flex;
  }
}